<div class="container" id="signup">
  
  <div class="row">
    <div class="col-xs-12">
      <h1 class="logotop">HERMOTA</h1>
      <h1 class="logobottom">FITNESS</h1>
    </div>
  </div><!--hermota fitness text-->
  
  <h1 class="signuptitle" align="center">Create a new user</h1><!--h1-->
  
  <div class='row'>
    
    <div class='col-xs-12'>
      
      <%= form_for(@user, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      
        <div class="form-group">
          
          <div class="control-label col-sm-2">
            <%= f.label :username %>
          </div><!--control-label-->
          <div class="col-sm-8">
            <%= f.text_field :username, class: "form-control", placeholder: "Enter username", autofocus: true %>
          </div><!--col-->
          
        </div><!--username-->
        
        <div class="form-group">
          
          <div class="control-label col-sm-2">
            <%= f.label :email %>
          </div><!--control-label-->
          
          <div class="col-sm-8">
            <%= f.email_field :email, class: "form-control", placeholder: "Enter email" %>
          </div><!--col-->
          
        </div><!--email-->
        
        <div class="form-group">
          
          <div class="control-label col-sm-2">
            <%= f.label :password %>
          </div><!--control-label-->
          
          <div class="col-sm-8">
            <%= f.password_field :password, class: "form-control", placeholder: "Enter password" %>
          </div><!--col-->
          
        </div><!--password-->
        
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit "Sign up", class: 'btn btn-primary btn-lg' %>
          </div><!--col-->
        </div><!--submit sign up-->
    
      <% end %><!--form_for-->
      
    </div><!--col-->
  </div><!--sign up form-->
  
  <div class="col-xs-4 col-xs-offset-4 center" id="canceltext">
    [ <%= link_to "Cancel request and return to home page", root_path %> ]
  </div><!--cancel request-->
  
</div><!--container-->