<div class="container">
  
  <h1 align="center">Welcome <%=@user.username %></h1>
  <h1 align="center">This is your show page</h1>
  
  <div class="row"><!--gravatar img & username-->
    <div class="col-md-4 col-md-offset-4 center">
      <%#= gravatar_for @user %><!--The method for this is in helpers and its trickey-->
      <%= gravatar_for @user, size: 150 %>
      <h4><%= @user.username.capitalize %></h4>
    </div><!--col-->
  </div><!--gravatar img & username-->
  
  <div class="row"><!--username-->
    <div class="col-md-4">
    <!--<div class="col-md-4 col-md-offset-4 center">-->
      <%= @user.username %>
    </div>
  </div><!--username-->
  
  <div class="row"><!--email-->
    <div class="col-md-4">
      <%= @user.email %>
    </div>
  </div><!--email-->
  
  <% if logged_in? %>
    <div class="row">
      <div class="col-md-12 center">
          <%= link_to "Delete this user", user_path(@user), method: :delete,
                       data: {confirm: "Are you sure you want to delete this user?"},
                       class: "btn btn-lg btn-danger" %>
          <% end %>
      </div>    
    </div>
  
</div><!--container-->